<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anaghesh.uvceconnect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".login" />
        <activity android:name=".signup" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/new11" />
        <activity android:name=".Acadamics" />

        <activity
            android:name=".Drawer"
            android:label="@string/title_activity_drawer"
            android:theme="@style/new11" />
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about_uvce"
            android:label="About UVCE"
            android:parentActivityName=".Drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icpng" />

        <activity android:name=".Result" />
        <activity android:name=".profile" />
        <activity
            android:name=".Academics"
            android:parentActivityName=".Drawer"></activity>

    </application>

</manifest>